body {
	background-color: rgb(29, 202, 255);
}


#response {
	font-size: 300px;
	color: white;
	padding-bottom: 100px;
}

.response {
	padding: 400px;
}

.typed-cursor{
    font-size: 300px;
    opacity: .6;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}