<!DOCTYPE html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>{{ title }}</title>
    <!-- <script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script> -->
     <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.quickfit.js') }}"></script>
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
     <script type="text/javascript">
      $(document).ready(function(){
        //connect to the socket server.
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        //receive details from server
        socket.on('question', function(msg) {
            console.log("Received question" + msg.question);
            $(".question").text('')
            $(".answer").text('')
            // $(".question").text(msg.question)
            //remove previous animations
            $('.typed-cursor').remove()
            // start animation
            options = {strings: [msg.question], typeSpeed: 30}
            var typed = new Typed(".question", options)
        });
        socket.on('answer', function(msg) {
            console.log("Received answer" + msg.answer);
            // $(".answer").text(msg.answer)
            // start animation
            options = {strings: [msg.answer], typeSpeed: 50}
            var typed = new Typed(".answer", options)
        });


    });
     </script>
  </head>
  <body>
      <p class="title" align="center">
        Is it <img class="logo_image" src="https://i.imgur.com/My1Shdi.png">
      </p>
      <div id="question_div">
        <!-- <p class="hidden"></p> -->
        <div class="response">
          <span class="question" id="response"><div class="prompt">Ask a question... </div>"Alexa, ask Worth-It to compare Vanderbilt tuition to coke"</span>
        </div>
      </div>
      


      <div id="answer_div">
        <h1 id="answer"></h1>
        <div class="response">
          <span class="answer" id="response-a"></span>
        </div>
      </div>

      
  </body>
</html>